.small-dat-title-icon {
  height: 2.5rem;
  padding-right: 8px;
}

.jumbotron-info {
  padding: 40px;
}

.jumbotron-horizontal-rule {
  width: 100%;
  max-width: 64px;
  height: 4px;
  background: #bfc3c8;
  margin: 5px 0;
}

.jumbotron-video {
  text-align: center;
}

.jumbotron-description {
  width: 100%;
  max-width: 525px;
  font-size: 20px;
  margin: 20px 0;
  color: #6A7380;
}
.jumbotron-continue {
  font-size: 20px;
  font-weight: 700;
  color: #35B44F;
  padding-right: 10px;
  padding-bottom: 50px;
}
.jumbotron-continue a {
  color: #35B44F;
}
.jumbotron-spacer {
  height: @header-height;
}
.package-display {
  display: relative;
}
.package-logo {
  float:right;
  .octocat {
    margin-left: 10px;
    top: 3px;
  }
}