@import "@{bootstrap}/variables.less";

// Colors
@brand-primary: #35b44f;
@brand-success: #16a085;
@brand-info:    #2980b9;
@brand-warning: #f1c40f;
@brand-danger:  #d9534f;

// Typography
@font-path: '/fonts';

@font-face {
  font-family: "Source Sans Pro";
  src: url("@{font-path}/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("@{font-path}/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("@{font-path}/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-family-sans-serif: "Source Sans Pro","source-sans-pro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

@font-weight-base: 100;

// Components
@padding-base-vertical:     5px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    7px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    3px;
@padding-small-horizontal:  8px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.33;
@line-height-small:         1.5;

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;

// Buttons
@btn-font-weight: bold;
