<div class="container centered">
<div class="content-title">Docs</div>
<div class="content-horizontal-rule"></div>
</div>

<div class="content-text-container">
    <div class="content-text-intro">Dat has detailed APIs in four languages:</div>
    <div class="content-text-intro">
      <a href="https://github.com/maxogden/dat/blob/master/docs/cli-docs.md"><div class="button">Commandline</div></a>
      <a href="https://github.com/maxogden/dat-core"><div class="button">JavaScript</div></a>
      <a href="https://github.com/karissa/datpy"><div class="button">Python (experimental)</div></a>
      <a href="https://github.com/ropensci/rdat"><div class="button">R (experimental)</div></a>
    </div>

    <div class="content-text-paragraph">If you want an overview of dat, read the <a href="https://github.com/maxogden/dat/blob/master/docs/whitepaper.md">whitepaper.</a></div>
    <div class="content-text-paragraph">All of the documentation above is hosted on the <a href="https://github.com/maxogden/dat">dat GitHub repository</a>. If you find bugs or have questions please let us know by opening an issue or sending a pull request.</div>
</div>
