<div class="jumbotron-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="jumbotron-title">Share and sync data instantly.</h1>
        <div class="jumbotron-horizontal-rule"></div>
        <div class="jumbotron-description">Dat is an open source, decentralized data-sharing tool for sharing datasets, small and large.
          <div class="header-continue">
            <a href="https://try-dat.com" target="_blank">
              <div class="button">Try dat in the browser › </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-mask">
  <div class="container">
    <div class="row">
      <div class="content-sub-container content-code-intro">
        <div class="col-md-8 col-md-offset-2 centered">
          <div class="content-title">Install now</div>
          <div class="content-subtitle">You will need <a href="http://nodejs.org/">node.js</a> to install and the dat command-line tool.</div>
        </div>
        
        <div class="col-md-8 col-md-offset-2">
          <pre><code class="bash">npm install -g dat</code></pre>

<pre><code class="bash">$ dat link .
Creating share link for 342 files, 4 folders, 3.8 GB total
Fingerprinting file contents (7/13)
dat://a53d819bdf5c3496a2855df83daaac885686cac4b0bccfc580741b04898e3b32
Sharing data on port 3282, connected to 0 peers
</code></pre>

<pre><code class="bash">$ dat dat://a53d819bdf5c3496a2855df83daaac885686cac4b0bccfc580741b04898e3b32
Downloaded 1/1 files (961.2 B/s, 4.81 kB total)
Download complete, sharing data. Connected to 1/2 peers
</code></pre>
      </div>

    </div>
  </div>
</div>
  <div class="container">
    <div class="row centered">
      <div class="content-sub-container">
        <div class="col-md-4">
          <div class="content-title">Distributed Sync</div>
          <img src="/static/img/dat-hex-1.png" />
          <div class="content-sub-container">
            <div class="content-subtitle">
              Inspired by the best parts of Git and BitTorrent, Dat shares versioned data through a decentralized network.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-title">Intelligent Storage</div>
          <img src="/static/img/dat-hex-2.png" />
          <div class="content-sub-container">
            <div class="content-subtitle">
              Dat deduplicates data between versions, reducing bandwidth costs and improving speed.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-title">Use it anywhere</div>
          <img src="/static/img/dat-hex-3.png" />
          <div class="content-sub-container">
            <div class="content-subtitle">There’s a desktop application, a command-line tool, and a Python client library.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row centered">
      <div class="content-title">Recent Talks</div>
      <div class="content-subtitle">Get up-to-date with Dat.
        <!--<a href="https://github.com/datproject/talks">More talks &rsaquo;</a>-->
      </div>
      <div class="content-horizontal-rule"></div>
      <div class="content-sub-container">
        <div class="col-md-6">
          <div class="content-box">
            <iframe class="video" src="https://player.vimeo.com/video/147914258" width="480" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <h3 class="content-title">Designing Dat 1.0 for ROpenSci Community Call</h3>
            <div class="content-subtitle">Dec 2015</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-box">
            <iframe class="video" width="480" height="315" src="https://www.youtube.com/embed/YI-S3hnqrew" frameborder="0" allowfullscreen></iframe>
            <h3 class="content-title">Community Call #5 on Compiled Code as Data</h3>
            <div class="content-subtitle">October 2015</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row centered">
      <div class="content-title">Stay in touch</div>
      <div class="content-horizontal-rule"></div>
      <div class="content-sub-container">
        <a href="https://tinyletter.com/datdata" target="_blank">
          <div class="button">Sign up for our newsletter › </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row centered">
      <div class="col-md-12">
        <div class="content-title">Sponsors and supporters</div>
        <div class="content-horizontal-rule"></div>
        <div class="content-sub-container content-logos">
          <a href="https://usopendata.org/"><img src="/static/img/usod.png"></a>
          <a href="http://www.sloan.org/major-program-areas/digital-information-technology/data-and-computational-research/"><img src="/static/img/sloan.png"></a>
          <a href="http://www.knightfoundation.org/grants/201346305/"><img src="/static/img/knight.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>
