<div class="container centered">
<div class="content-title">Development Team</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container">
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="maxogden"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Max Ogden</div>
      <div class="content-card-small-subtitle">
        Programmer based in Portland, OR. Max works on or has worked on things like <a href="http://csvconf.com/">CSVConf</a>, <a href="http://codeforamerica.org/">Code for America</a>, <a href="http://jsforcats.com/">JavaScript for Cats</a>, and <a href="http://voxeljs.com/">Voxel.js</a>.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="mafintosh"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Mathias Buus</div>
      <div class="content-card-small-subtitle">
        Programmer based in Copenhagen, Denmark. Co-creator of <a href="http://node-modules.com">node-modules.com</a> and co-founder of <a href="http://ge.tt/">ge.tt</a>. open mouth, open source.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="karissa"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Karissa McKelvey</div>
      <div class="content-card-small-subtitle">
  Programmer and data scientist based in Oakland, CA. Former <a href="http://scholar.google.com/citations?user=RM2tB8EAAAAJ&hl=en">academic</a> experienced in building interactive data visualization and collaboration tools.
      </div>
    </div>
  </div>
</div>

<div class="content-title" id="advisors">Padawans</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container">
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="finnp"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Finn Pauls</div>
      <div class="content-card-small-subtitle">
        Computer Science student at Free University Berlin, Open Source developer, Organizer of <a href="http://nodeschool.io/berlin/"> NodeSchool Berlin</a>, Contributor to the <a href="http://ndjson.org/">NDJSON spec</a>.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="melaniecebula"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Melanie Cebula</div>
      <div class="content-card-small-subtitle">
         Computer Science major at UC Berkeley, software engineer, Hackers@Berkeley officer, open source contributor, makeup artist, swing dancer, huge foodie, feminist, and classically trained musician!
      </div>
    </div>
  </div>
</div>

<div class="content-title" id="advisors">Advisors</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container">
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="jbollen"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Johan Bollen</div>
      <div class="content-card-small-subtitle">Associate Professor, School of Informatics and Computing at Indiana University.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="jbollen"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Boris Adryan</div>
      <div class="content-card-small-subtitle">Professor, Department of Genetics at University of Cambridge.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="kaythaney"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Kaitlin Thaney</div>
      <div class="content-card-small-subtitle">
        Director, Mozilla Science Lab (<a href="http://twitter.com/mozillascience">@MozillaScience</a>). Using data for good at <a href="http://twitter.com/datakindUK">@datakindUK</a>, frequent flyer, and other general geekery.
      </div>
    </div>
  </div>
</div>

<div class="content-title" id="advisors">Alumni</div>
<div class="content-horizontal-rule"></div>
<div class="content-sub-container">
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="pkafei"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Portia Burton</div>
      <div class="content-card-small-subtitle">
        Programmer based in Portland, OR. Founder of <a href="http://www.plbanalytics.com/">PLB Analytics</a>, and author of O'Reilly's upcoming 'Data Science in Python' video. Worked on <a href="https://github.com/maxogden/dat">Dat</a> CLI tools.
      </div>
    </div>
  </div>
  <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="bmpvieira"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Bruno Vieira</div>
      <div class="content-card-small-subtitle">
        Bioinformatics PhD student at Queen Mary University of London and Node.JS Web Developer. Working on <a href="https://github.com/bionode/bionode">bionode.io</a> and <a href="https://github.com/yeban/afra">yeban/afra</a>.
      </div>
    </div>
  </div>
   <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="ywyw"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Yuhong Wang</div>
      <div class="content-card-small-subtitle">
        Programmer in the bay area. Worked on Dat special use cases!
      </div>
    </div>
  </div>
   <div class="content-card-small">
    <div class="content-card-small-avatar" data-user="jbenet"></div>
    <div class="content-card-small-stripe"></div>
    <div class="content-card-small-contents">
      <div class="content-card-title">Juan Batiz-Benet</div>
      <div class="content-card-small-subtitle">
        Juan is a computer scientist, engineer, and entrepreneur. He is obsessed with knowledge and studied Computer Science at Stanford University
      </div>
    </div>
  </div>
</div>

</div>