@import "vendor/reset.min.css";
@import "vendor/normalize.min.css";
@import "vendor/bootstrap.min.css";
@import "vendor/railscasts.css";
/* Colors */
/* Containers */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f5f6;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
}
h4 {
  font-size: 2rem;
}
.mono {
  font-family: monospace;
}
a {
  transition: all 0.15s ease;
  color: #35b44f;
}
a:hover {
  color: #35b44f;
  text-decoration: underline;
}
p {
  font-size: 18px;
  padding: 10px;
}
pre {
  padding: .5em;
  font-size: 16px;
  background-color: #232323;
  color: #e6e1dc;
}
.muted,
.dark-text {
  color: #959ba4;
}
.caption {
  color: #959ba4;
  font-size: 14px;
}
.button {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #35b44f;
  padding: 7px 14px;
  border-radius: 5px;
}
.button.button-light {
  background-color: white;
}
.button:hover {
  background-color: #a9ce7f;
}
/** SPLASH **/
.rsaquo {
  color: #35B44F;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.octocat {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background-image: url('/static/img/octocat.png');
  margin-right: 10px;
}
.octocat-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/octocat-green.png');
  margin-right: 10px;
}
.twitter-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/twitter-green.png');
  margin-right: 10px;
}
.bitcoin {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 13px;
  height: 18px;
  background-image: url('/static/img/bitcoin.png');
  margin-right: 10px;
}
/** CONTENT **/
#content {
  margin-top: 0px;
  min-height: 500px;
}
.content a,
.content-a :visited {
  color: #35B44F;
  font-weight: 600;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content-title {
  font-size: 32px;
  font-weight: 700;
  color: #2A3749;
  padding-top: 50px;
  padding-bottom: 5px;
}
.content-subtitle {
  font-size: 20px;
  color: #6A7380;
  text-align: center;
}
.centered .content-horizontal-rule {
  margin: auto;
}
.content-horizontal-rule {
  width: 64px;
  height: 4px;
  background: #bfc3c8;
}
.content-sub-container {
  padding-top: 30px;
  overflow: auto;
  text-align: center;
}
.content-code-intro {
  text-align: left;
}
.content-card {
  position: relative;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 30px 30px 25px 30px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.content-sub-container > :last-child {
  margin-right: 0;
}
.content-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #2A3749;
  text-align: center;
  margin-top: 15px;
}
.content-card-subtitle {
  font-size: 16px;
  color: #6A7380;
  text-align: center;
  line-height: 28px;
}
.content-feature-card .content-card-title {
  margin-top: 25px;
}
.content-feature-card .content-card-subtitle {
  margin-top: 15px;
}
.content-feature-card {
  width: 335px;
  margin-right: 54px;
  display: inline-block;
}
.content-feature-card img {
  margin: 0 auto;
  display: block;
}
.content-feature-cards > :last-child {
  margin-right: 0;
}
.content-text-container {
  max-width: 650px;
  width: 65%;
  margin: auto;
  padding: 50px 0px;
  background-color: #f4f5f6;
}
.content-text-h1 {
  font-size: 36px;
  font-weight: 700;
  color: #2A3749;
}
.content-text-intro {
  font-size: 20px;
  color: #6A7380;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
.content-text-paragraph {
  font-size: 16px;
  color: #2A3749;
  margin-bottom: 10px;
}
.content-text-container a,
.content-text-container a:visited {
  color: #35B44F;
  text-decoration: none;
}
.content-text-container a:hover {
  text-decoration: underline;
}
.content-card-small {
  width: 255px;
  background: white;
  border-radius: 4px;
  position: relative;
  min-height: 400px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 50px;
}
.content-card-small a,
.content-card-small a:visited {
  color: #35B44F;
  text-decoration: none;
}
.content-card-small a:hover {
  text-decoration: underline;
}
.content-card-small-contents {
  padding: 60px 30px 25px 30px;
}
.content-card-small-subtitle {
  font-size: 16px;
  color: #6A7380;
  line-height: 24px;
  margin-top: 10px;
}
.content-card-small-stripe {
  height: 96px;
  background-color: #2a3749;
}
.content-card-small-avatar {
  background-color: #fff;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  left: 75px;
  position: absolute;
  top: 40px;
  background-size: 96px;
  border: 4px solid white;
  box-shadow: 1px 1px #eee;
}
.content-logos p {
  text-align: center;
  text-transform: uppercase;
}
.content-logos > a {
  margin: 20px;
  display: inline-block;
}
.content-logos > :last-child {
  margin-right: 0;
}
.content-logos div {
  display: inline-block;
}
/** tabs **/
.nav-tabs li {
  font-family: monospace;
  border-bottom: 1px solid #fff;
}
.spacer {
  padding: 20px;
}
.footer {
  background-color: #2a3749;
  overflow: auto;
  color: #959ba4;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-directory {
  overflow: auto;
  padding: 50px 0px;
  border-bottom: 1px solid #3f4b5b;
}
.footer-credits {
  padding: 20px;
  text-align: center;
}
.footer-heading {
  font-size: 24px;
  color: white;
}
.footer-horizontal-rule {
  width: 32px;
  height: 4px;
  background: #6a7380;
  margin: 10px 0 30px 0;
}
.footer-nav-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}
.footer-nav-list li {
  margin-bottom: 3px;
}
.footer-emphasized {
  font-weight: 700;
}
.footer-subtitle {
  padding-top: 10px;
}
.hd-xl,
h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}
.hd-l,
h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.hd-m,
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.hd-s,
h4 {
  font-size: 1.75em;
  line-height: 2.25em;
}
.hd-xs,
h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hd-xxs,
h6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.header-info,
.jumbotron-info {
  background-image: url('/static/img/header-abstract.png');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 120% -10px;
  padding-bottom: 10px;
}
.header-info {
  padding-top: 10px;
}
.header-info h1 {
  max-width: 900px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #fdfdfd;
  border-bottom: 1px solid #f0f0f0;
}
.header a,
.header a:visited {
  color: #2a3749;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
.header-logo {
  display: inline-block;
  font-weight: 600;
  float: left;
  font-size: 38px;
  background-image: url('/static/img/dat-hex-small.png');
  background-size: 35px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0px 8px;
  margin-top: 2px;
}
.profile {
  float: right;
  margin-top: 15px;
}
.header-nav {
  height: 60px;
  padding: 0px 20px;
  opacity: 0.9;
  font-weight: 700;
  color: #2a3749;
  font-size: 18px;
}
.header-nav-links {
  float: right;
}
.header-nav-list {
  line-height: 60px;
  margin: 0;
}
.header-nav-list,
.header-nav-list li {
  display: inline-block;
}
.header-nav-list li {
  margin-right: 30px;
}
.app-page {
  background-color: #fff;
  min-height: 700px;
}
.app-text-container {
  margin: auto;
  background-color: #fff;
  padding: 25px;
  min-width: 545px;
  max-width: 1040px;
}
.app-text-container h1 {
  margin: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 100;
}
.app-bg-box {
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.app-bg-box .caption {
  float: right;
}
.app-bg-box-header {
  margin: 0px;
  padding: 10px;
  background-color: #f4f5f6;
  border-bottom: 1px solid #eee;
}
.app-bg-box-header button.btn-success {
  float: right;
  padding: 6px 12px;
  margin-top: -6px;
}
.app-bg-box-header.tabs {
  padding: 0px;
}
.app-bg-box-header.tabs button.btn-success {
  padding: 5px 35px;
  margin-top: 4px;
  margin-right: 5px;
}
.app-bg-box-content {
  padding: 10px;
}
.caption-box {
  text-align: right;
  border-top: 1px solid #eee;
}
/** bootstrap navigation tabs **/
.nav-tabs {
  background-color: #f4f5f6;
  border-bottom: none;
}
.nav-tabs li {
  margin-right: 0px;
  border-radius: 0px;
  font-size: 14px;
}
.nav-tabs li.active a {
  border: none;
  color: #333;
}
.nav-tabs li a {
  color: #555 !important;
  border: none !important;
  border-radius: none;
}
.help-block {
  text-align: left;
}
.form-divider {
  border-top: 2px solid #2a3749;
  width: 20%;
  max-width: 100px;
  min-width: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-control {
  border-radius: 0px;
}
textarea.markdown-edit {
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-height: 800px;
  border: 1px solid #f4f5f6;
}
textarea.markdown-edit:focus {
  outline: 0px;
}
input.edit-info {
  width: 100%;
}
.banner {
  color: #fdfdfd;
  position: fixed;
  top: -30px;
  -webkit-transition: all .5s;
  /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  width: 100%;
  height: 30px;
  z-index: 999999;
}
.banner.success {
  top: 0px;
  background-color: #35b44f;
}
.banner.error {
  top: 0px;
  background-color: #c0392b;
}
.banner-text {
  text-align: center;
}
.breadcrumbs-nav {
  width: 80%;
  margin: 44px auto 22px auto;
  text-align: center;
}
.breadcrumbs {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.breadcrumbs li {
  width: 24%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
}
.breadcrumbs li a {
  font-weight: normal;
  color: #959ba4;
}
.breadcrumbs li a:hover {
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}
.breadcrumbs li a:hover.finished {
  cursor: pointer;
}
.breadcrumbs li a .fui-check {
  display: none;
}
.breadcrumbs li a.active {
  font-weight: normal;
  color: #2a3749;
  border-bottom: 2px solid #2a3749;
}
.breadcrumbs li a.active:hover {
  font-weight: none;
}
.breadcrumbs li a.finished {
  font-weight: bold;
  color: #2a3749;
}
.breadcrumbs li a.finished .fui-check {
  display: inline-block;
  float: right;
}
.mobile-only {
  display: none;
}
@media screen and (max-width: 650px) {
  .hidden-mobile {
    display: none;
  }
  .header-nav-list li {
    margin-right: 15px;
  }
  .mobile-only {
    display: block;
  }
  pre {
    font-size: 14px;
  }
}
@media screen and (max-width: 1115px) {
  .header-info,
  .jumbotron-info {
    background-image: none;
    position: inherit;
    width: 100%;
  }
  .header-logo {
    margin-left: 20px;
  }
  .header-description {
    width: auto;
  }
  .header-nav-links {
    margin-right: 0px;
  }
  .footer-directory {
    padding: 20px;
  }
  .content {
    margin-top: 0;
  }
  .content-title {
    text-align: center;
  }
  .content-horizontal-rule {
    margin: auto;
  }
  .content-feature-card {
    margin: 0 auto 20px auto;
  }
  .content-sub-container {
    padding-top: 15px;
  }
  .content-text-container {
    padding: 20px;
  }
  .content-text-intro {
    width: 100%;
  }
  .content-text-paragraph {
    width: 100%;
  }
}
.small-dat-title-icon {
  height: 2.5rem;
  padding-right: 8px;
}
.jumbotron-info {
  padding: 40px;
}
.jumbotron-horizontal-rule {
  width: 100%;
  max-width: 64px;
  height: 4px;
  background: #bfc3c8;
  margin: 5px 0;
}
.jumbotron-video {
  text-align: center;
}
.jumbotron-description {
  width: 100%;
  max-width: 525px;
  font-size: 20px;
  margin: 20px 0;
  color: #6A7380;
}
.jumbotron-continue {
  font-size: 20px;
  font-weight: 700;
  color: #35B44F;
  padding-right: 10px;
  padding-bottom: 50px;
}
.jumbotron-continue a {
  color: #35B44F;
}
.jumbotron-spacer {
  height: 60px;
}
.package-display {
  display: relative;
}
.package-logo {
  float: right;
}
.package-logo .octocat {
  margin-left: 10px;
  top: 3px;
}
.breadcrumbs-content {
  text-align: center;
}
.preview-frame iframe {
  width: 100%;
  height: 300px;
}
.preview-frame .json {
  text-align: left;
}
.publish-intro-text {
  margin-bottom: 22px;
  margin-top: 44px;
}
.metadat {
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  display: block;
  padding: 10px;
}
.metadat:last-child {
  border-bottom: none;
}
.metadat .title {
  width: 75%;
  margin-top: 10px;
}
.metadat .info {
  color: #959ba4;
}
.metadat .title,
.metadat .info {
  display: inline-block;
  position: relative;
}
.metadat-info {
  margin-bottom: 20px;
}
.user-info {
  margin-top: 20px;
}
.user-info p {
  margin-bottom: 0px;
}
