@import "vendor/reset.min.css";
@import "vendor/normalize.min.css";
@import "vendor/bootstrap.min.css";
@import "vendor/railscasts.css";
/* Colors */
/* Containers */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  color: #293648;
}
.mono {
  font-family: monospace;
}
.header-continue {
  margin: 30px 0 50px;
}
.content-box {
  padding: 40px 40px 20px 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.content-box .content-title {
  line-height: 3.5rem;
  margin-top: 10px;
  padding-top: 0;
}
.content-box iframe {
  max-width: 480px;
  width: 100%;
}
a,
button,
input,
select,
textarea {
  transition-property: background-color, color;
  transition-duration: 0.05s;
  transition-timing-function: ease-out;
}
a {
  color: #35b44f;
}
a:hover {
  color: #24943a;
  text-decoration: none;
}
ul,
p {
  font-size: 18px;
}
p {
  padding: 5px 0;
}
pre {
  padding: .5em;
  font-size: 14px;
  background-color: #293648;
  color: #e9ebec;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
pre.large {
  font-size: 20px;
}
@media screen and (min-width: 480px) {
  pre.large {
    font-size: 24px;
  }
}
.muted,
.dark-text {
  color: #7c8792;
}
.caption {
  color: #7c8792;
  font-size: 14px;
}
.button {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #35b44f;
  padding: 9px 14px;
  border-radius: 5px;
}
.button.button-light {
  background-color: white;
}
.button:hover {
  background-color: #24943a;
}
ul {
  list-style: initial;
  padding-left: 20px;
}
/** SPLASH **/
.rsaquo {
  color: #35b44f;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.octocat {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background-image: url('/static/img/octocat.png');
  margin-right: 10px;
}
.octocat-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/octocat-green.png');
  margin-right: 10px;
}
.twitter-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/twitter-green.png');
  margin-right: 10px;
}
.bitcoin {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 13px;
  height: 18px;
  background-image: url('/static/img/bitcoin.png');
  margin-right: 10px;
}
/** CONTENT **/
.small-dat-title-icon {
  height: 2.5rem;
  padding-right: 8px;
}
.jumbotron-info {
  padding: 40px 15px;
}
@media screen and (min-width: 400px) {
  .jumbotron-info {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.background-mask {
  background-color: #f6f7f8;
  padding-bottom: 50px;
}
.secondary-info {
  padding: 30px;
  background-color: white;
}
.jumbotron-horizontal-rule {
  width: 100%;
  max-width: 64px;
  height: 6px;
  background-color: #c3c9cd;
  margin: 5px 0;
}
.jumbotron-video {
  text-align: center;
}
.jumbotron-description {
  width: 100%;
  max-width: 525px;
  font-size: 20px;
  margin: 20px 0;
  color: #65737f;
}
.jumbotron-continue {
  font-size: 20px;
  font-weight: 700;
  color: #35b44f;
  padding-right: 10px;
  padding-bottom: 50px;
}
.jumbotron-continue a {
  color: #35b44f;
}
.jumbotron-spacer {
  height: 60px;
}
.package-display {
  display: relative;
}
.package-logo {
  float: right;
}
.package-logo .octocat {
  margin-left: 10px;
  top: 3px;
}
#content {
  margin-top: 0;
  min-height: 500px;
  background-color: white;
}
.content a,
.content-a :visited {
  color: #35b44f;
  font-weight: 600;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.content-title {
  font-size: 32px;
  font-weight: 700;
  color: #293648;
  padding-top: 50px;
  padding-bottom: 5px;
}
.content-subtitle {
  font-size: 20px;
  color: #65737f;
  text-align: center;
  padding-bottom: 15px;
}
.centered .content-horizontal-rule {
  margin: auto;
}
.content-horizontal-rule {
  width: 64px;
  height: 5px;
  background-color: #c3c9cd;
}
.content-sub-container {
  padding-top: 30px;
  overflow: auto;
  text-align: center;
}
.content-code-intro {
  text-align: left;
}
.content-card {
  position: relative;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 30px 30px 25px 30px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.content-sub-container > :last-child {
  margin-right: 0;
}
.content-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #293648;
  text-align: center;
  margin-top: 15px;
}
.content-card-subtitle {
  font-size: 16px;
  color: #65737f;
  text-align: center;
  line-height: 28px;
}
.content-feature-card .content-card-title {
  margin-top: 25px;
}
.content-feature-card .content-card-subtitle {
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.content-feature-card {
  display: inline-block;
}
.content-feature-card img {
  margin: 0 auto;
  display: block;
}
.content-feature-cards > :last-child {
  margin-right: 0;
}
.content-text-container {
  max-width: 650px;
  width: 65%;
  margin: auto;
  padding: 50px 0;
}
.content-text-h1 {
  font-size: 36px;
  font-weight: 700;
  color: #293648;
}
.content-text-intro {
  font-size: 20px;
  color: #65737f;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
.content-text-paragraph {
  font-size: 16px;
  color: #293648;
  margin-bottom: 10px;
}
.content-text-container a,
.content-text-container a:visited {
  color: #35b44f;
  text-decoration: none;
}
.content-text-container a:hover {
  text-decoration: underline;
}
.content-card-small {
  width: 255px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  min-height: 400px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 50px;
}
.content-card-small a,
.content-card-small a:visited {
  color: #35b44f;
  text-decoration: none;
}
.content-card-small a:hover {
  text-decoration: underline;
}
.content-card-small-contents {
  padding: 60px 30px 25px 30px;
}
.content-card-small-subtitle {
  font-size: 16px;
  color: #65737f;
  line-height: 24px;
  margin-top: 10px;
}
.content-card-small-stripe {
  height: 96px;
  background-color: #293648;
}
.content-card-small-avatar {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  left: 75px;
  position: absolute;
  top: 40px;
  background-size: 96px;
  border: 4px solid white;
  box-shadow: 1px 1px #eee;
}
.content-logos p {
  text-align: center;
  text-transform: uppercase;
}
.content-logos > a {
  margin: 20px;
  display: inline-block;
}
.content-logos > :last-child {
  margin-right: 0;
}
.content-logos div {
  display: inline-block;
}
/** tabs **/
.nav-tabs li {
  font-family: monospace;
  border-bottom: 1px solid #ffffff;
}
.spacer {
  padding: 20px;
}
/** footer **/
.footer {
  background-color: #293648;
  overflow: auto;
  color: #7c8792;
}
.footer a {
  color: #ffffff;
}
.footer a:hover,
.footer a:focus {
  color: #c3c9cd;
}
.footer-directory {
  overflow: auto;
  padding: 50px 0;
  border-bottom: 1px solid #3f4b5b;
}
.footer-credits {
  padding: 20px;
  text-align: center;
}
.footer-heading {
  font-size: 24px;
  color: white;
}
.footer-horizontal-rule {
  width: 32px;
  height: 4px;
  background-color: #65737f;
  margin: 10px 0 30px 0;
}
.footer-nav-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
}
.footer-nav-list li {
  margin-bottom: 3px;
}
.footer-nav-list li a {
  display: block;
  line-height: 28px;
}
.footer-emphasized {
  font-weight: 700;
}
.footer-subtitle {
  padding-top: 10px;
}
.blog-layout {
  display: flex;
}
a.load-document {
  text-decoration: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  color: #293648;
  transition: .25s;
}
.sidebar-list {
  max-width: 25%;
  background-color: #f6f7f8;
  color: #293648;
}
.sidebar-list .document {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #d3d7db;
}
.sidebar-list .document .published {
  color: #919ba4;
}
.sidebar-list .document h2 {
  margin: 0;
  color: #35b44f;
}
.sidebar-list .document:not(.active) {
  border-left: 1px solid #f6f7f8;
}
.sidebar-list .document.active {
  background-color: #ffffff;
  color: #293648;
}
.sidebar-list .document:hover:not(.active) {
  background-color: #f6f7f8;
}
.post {
  max-width: 800px;
  padding-bottom: 80px;
}
.post img {
  max-width: 100%;
}
td,
th {
  padding: 10px;
  border: 1px solid black;
}
.hd-xl,
h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}
.hd-l,
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.hd-m,
h3 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.hd-s,
h4 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.hd-xs,
h5 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
.hd-xxs,
h6 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.header-info,
.jumbotron-info {
  background-image: url('/static/img/header-abstract.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 120% -10px;
  padding-bottom: 10px;
}
.header-info {
  padding-top: 10px;
}
.header-info h1 {
  max-width: 900px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #f6f7f8;
}
.header-nav-link {
  color: #293648;
}
.header-nav-link.active {
  color: #35b44f;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #505f6d;
}
.header-logo {
  display: inline-block;
  font-weight: 600;
  float: left;
  font-size: 38px;
  background-image: url('/static/img/dat-data-blank.png');
  background-size: 35px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0 8px;
  margin-top: 2px;
  color: #293648;
  overflow: hidden;
  max-width: 48px;
}
.header-logo:hover,
.header-logo:focus {
  color: #505f6d;
  text-decoration: none;
}
@media screen and (min-width: 400px) {
  .header-logo {
    max-width: 300px;
  }
}
.profile {
  float: right;
  margin-top: 15px;
}
.header-nav {
  height: 60px;
  opacity: 0.9;
  font-weight: 700;
  color: #293648;
  font-size: 18px;
}
.header-nav-links {
  float: right;
}
.header-nav-list {
  line-height: 60px;
  margin: 0;
  padding-left: 0;
  display: inline-block;
  list-style: none;
}
.header-nav-list li:not(:last-child) {
  margin-right: 15px;
}
.header-nav-list li {
  display: inline-block;
  padding-left: 0;
}
@media screen and (min-width: 650px) {
  .header-nav-list {
    margin-right: 30px;
  }
}
.app-page {
  background-color: #ffffff;
  min-height: 700px;
}
.app-text-container {
  margin: auto;
  background-color: #ffffff;
  padding: 25px;
  min-width: 545px;
  max-width: 1040px;
}
.app-text-container h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 100;
}
.app-bg-box {
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.app-bg-box .caption {
  float: right;
}
.app-bg-box-header {
  margin: 0;
  padding: 10px;
  background-color: #f6f7f8;
  border-bottom: 1px solid #eee;
}
.app-bg-box-header button.btn-success {
  float: right;
  padding: 6px 12px;
  margin-top: -6px;
}
.app-bg-box-header.tabs {
  padding: 0;
}
.app-bg-box-header.tabs button.btn-success {
  padding: 5px 35px;
  margin-top: 4px;
  margin-right: 5px;
}
.app-bg-box-content {
  padding: 10px;
}
.caption-box {
  text-align: right;
  border-top: 1px solid #eee;
}
/** bootstrap navigation tabs **/
.nav-tabs {
  background-color: #f6f7f8;
  border-bottom: none;
}
.nav-tabs li {
  margin-right: 0;
  border-radius: 0;
  font-size: 14px;
}
.nav-tabs li.active a {
  border: none;
  color: #293648;
}
.nav-tabs li a {
  color: #505f6d !important;
  border: none !important;
  border-radius: none;
}
.help-block {
  text-align: left;
}
.form-divider {
  border-top: 2px solid #293648;
  width: 20%;
  max-width: 100px;
  min-width: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-control {
  border-radius: 0;
}
textarea.markdown-edit {
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-height: 800px;
  border: 1px solid #f6f7f8;
}
textarea.markdown-edit:focus {
  outline: 0;
}
input.edit-info {
  width: 100%;
}
.banner {
  color: #f6f7f8;
  position: fixed;
  top: -30px;
  -webkit-transition: all .5s;
  /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  width: 100%;
  height: 30px;
  z-index: 999999;
}
.banner.success {
  top: 0;
  background-color: #35b44f;
}
.banner.error {
  top: 0;
  background-color: #d8524e;
}
.banner-text {
  text-align: center;
}
.breadcrumbs-nav {
  width: 80%;
  margin: 44px auto 22px auto;
  text-align: center;
}
.breadcrumbs {
  display: inline-block;
  margin: auto;
  width: 100%;
}
.breadcrumbs li {
  width: 24%;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
}
.breadcrumbs li a {
  font-weight: normal;
  color: #7c8792;
}
.breadcrumbs li a:hover {
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}
.breadcrumbs li a:hover.finished {
  cursor: pointer;
}
.breadcrumbs li a .fui-check {
  display: none;
}
.breadcrumbs li a.active {
  font-weight: normal;
  color: #293648;
  border-bottom: 2px solid #293648;
}
.breadcrumbs li a.active:hover {
  font-weight: none;
}
.breadcrumbs li a.finished {
  font-weight: bold;
  color: #293648;
}
.breadcrumbs li a.finished .fui-check {
  display: inline-block;
  float: right;
}
.mobile-only {
  display: none;
}
@media screen and (max-width: 650px) {
  .hidden-mobile {
    display: none;
  }
  .video {
    width: 100% !important;
  }
  .mobile-only {
    display: block;
  }
  pre {
    font-size: 14px;
  }
  .content-card-small {
    margin-right: 0;
  }
  .blog-layout {
    flex-direction: column;
  }
  .sidebar-list {
    max-width: 100%;
  }
}
@media screen and (max-width: 1115px) {
  .header-info,
  .jumbotron-info {
    background-image: none;
    position: inherit;
    width: 100%;
  }
  .header-description {
    width: auto;
  }
  .header-nav-links {
    margin-right: 0;
  }
  .footer-directory {
    padding: 20px;
  }
  .content {
    margin-top: 0;
  }
  .content-title {
    text-align: center;
  }
  .content-horizontal-rule {
    margin: auto;
  }
  .content-feature-card {
    margin: 0 auto 20px;
  }
  .content-sub-container {
    padding-top: 15px;
  }
  .content-text-container {
    padding: 20px;
    width: 100%;
  }
  .content-text-intro {
    width: 100%;
  }
  .content-text-paragraph {
    width: 100%;
  }
}
