@import "includes/variables";

@import "includes/helpers";
@import "includes/headers";
@import "includes/app";
@import "includes/forms";
@import "includes/banners";
@import "includes/breadcrumbs";
@import "includes/cli-tutorial";
@import "includes/responsive";

@import "vendor/reset.min.css";
@import "vendor/normalize.min.css";
@import "vendor/bootstrap.min.css";
@import "vendor/railscasts.css";


body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white-background;
}
h1, h2, h3, h4, h5 {
  color: $color-neutral;
}

.mono {
  font-family: monospace;
}

.header-continue {
  margin: 30px 0 50px;
}

.content-box {
  padding: 40px 40px 20px 40px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  .content-title {
    line-height: 3.5rem;
    margin-top: 10px;
    padding-top: 0;
  }
  iframe {
    max-width: 480px;
    width: 100%;
  }
}

a,
button,
input,
select,
textarea {
  transition-property: background-color, color;
  transition-duration: 0.05s;
  transition-timing-function: ease-out;
}

a {
  color: $color-green;
  &:hover, &:focus {
    color: $color-green--hover;
    text-decoration: none;
  }
}

ul, p {
  font-size: 18px;
}

p {
  padding: 5px 0;
}

pre {
  padding: .5em;
  font-size: 14px;
  background-color: $color-neutral;
  color: $color-neutral--10;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}

.muted,
.dark-text {
  color: $dark-text;
}

.caption {
  color: $dark-text;
  font-size: 14px;
}

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: $button-bg;
  padding: 9px 14px;
  border-radius: 5px;
  &.button-light {
    background-color: white;
  }
  &:hover, &:focus {
    background-color: $buttong-bg-hover;
    color: white;
  }
}

ul {
  list-style: initial;
  padding-left: 20px;
}

/** SPLASH **/
.rsaquo {
  color: $color-green;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.octocat {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  background-image: url('/static/img/octocat.png');
  margin-right: 10px;
}
.octocat-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/octocat-green.png');
  margin-right: 10px;
}
.twitter-green {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url('/static/img/twitter-green.png');
  margin-right: 10px;
}
.bitcoin {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 13px;
  height: 18px;
  background-image: url('/static/img/bitcoin.png');
  margin-right: 10px;
}

/** CONTENT **/
.small-dat-title-icon {
  height: 2.5rem;
  padding-right: 8px;
}

.jumbotron-info.jumbotron-info-header {
  padding: 40px 15px;
  @media screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 640px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.background-mask {
  background-color: $color-white;
}

.background-mask--toned {
  background-color: $color-neutral--04;
}

.secondary-info {
  padding: 30px;
  background-color: white;
}

.jumbotron-horizontal-rule {
  width: 100%;
  max-width: 64px;
  height: 6px;
  background-color: $color-neutral--30;
  margin: 5px 0;
}

.jumbotron-video {
  text-align: center;
}

.jumbotron-description {
  width: 100%;
  max-width: 525px;
  font-size: 20px;
  margin: 20px 0;
  color: $color-neutral--70;
}
.jumbotron-continue {
  font-size: 20px;
  font-weight: 700;
  color: $color-green;
  padding-right: 10px;
  padding-bottom: 50px;
}
.jumbotron-continue a {
  color: $color-green;
}
.jumbotron-spacer {
  height: $header-height;
}
.package-display {
  display: relative;
}
.package-logo {
  float:right;
  .octocat {
    margin-left: 10px;
    top: 3px;
  }
}

#content {
  margin-top: 0;
  min-height: 500px;
  background-color: white;
}
.content a {
  color: $color-green;
  font-weight: 600;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.content-title {
  font-size: 32px;
  font-weight: 700;
  color: $color-neutral;
  padding-top: 50px;
  padding-bottom: 5px;
}
.content-subtitle {
  font-size: 20px;
  color: $color-neutral--70;
  text-align: center;
  padding-bottom: 15px;
}
.centered .content-horizontal-rule {
  margin: auto;
}
.content-horizontal-rule {
  width: 64px;
  height: 5px;
  background-color: $color-neutral--30;
}
.content-sub-container {
  padding-top: 30px;
  overflow: auto;
  text-align: center;
}
.content-code-intro {
  text-align: left;
  margin-bottom: 60px;
}
.content-card {
  position: relative;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  padding: 30px 30px 25px 30px;
  border-radius: 4px;
  margin-bottom: 50px;
}

.content-sub-container > :last-child {
  margin-right: 0;
}
.content-card-title {
  font-weight: 700;
  font-size: 24px;
  color: $color-neutral;
  text-align: center;
  margin-top: 15px;
}
.content-card-subtitle {
  font-size: 16px;
  color: $color-neutral--70;
  text-align: center;
  line-height: 28px;
}
.content-feature-card .content-card-title {
  margin-top: 25px;
}
.content-feature-card .content-card-subtitle {
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.content-feature-card {
  display: inline-block;
}
.content-feature-card img {
  margin: 25px auto 0;
  display: block;
}
.content-feature-cards > :last-child {
  margin-right: 0;
}
.content-text-container {
  max-width: 650px;
  width: 65%;
  margin: auto;
  padding: 50px 0;
}
.content-text-h1 {
  font-size: 36px;
  font-weight: 700;
  color: $color-neutral;
}
.content-text-intro {
  font-size: 20px;
  color: $color-neutral--70;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
.content-text-paragraph {
  font-size: 16px;
  color: $color-neutral;
  margin-bottom: 10px;
}
.content-text-container a {
  color: $color-green;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.content-card-small {
  width: 255px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  min-height: 400px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 50px;
}
.content-card-small a {
  color: $color-green;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.content-card-small-contents {
  padding: 60px 30px 25px 30px;
}
.content-card-small-subtitle {
  font-size: 16px;
  color: $color-neutral--70;
  line-height: 24px;
  margin-top: 10px;
}
.content-card-small-stripe {
  height: 96px;
  background-color: $color-neutral;
}
.content-card-small-avatar {
  $size: 100px;
  background-color: $color-white;
  width: $size;
  height: $size;
  margin: 0 auto;
  left: 75px;
  position: absolute;
  top: 40px;
  background-size: $size - 4;
  border: 4px solid white;
  box-shadow: 1px 1px #eee;
}
.content-logos p {
  text-align: center;
  text-transform: uppercase;
}
.content-logos > a {
  margin: 20px;
  display: inline-block;
}
.content-logos > :last-child {
  margin-right: 0;
}
.content-logos div {
  display: inline-block;
}

/** tabs **/
.nav-tabs li {
  font-family: monospace;
  border-bottom: 1px solid $color-white;
}

.spacer {
  padding: 20px;
}

/** footer **/
.footer {
  background-color: $dark-background;
  overflow: auto;
  color: $dark-text;
  a {
    color: $color-white;
    &:hover, &:focus {
      color: $color-neutral--30;
    }
  }
}

.footer-directory {
  overflow: auto;
  padding: 50px 0;
  border-bottom: 1px solid #3f4b5b;
}
.footer-credits {
  padding: 20px;
  text-align: center;
}
.footer-heading {
  font-size: 24px;
  color: white;
}
.footer-horizontal-rule {
  width: 32px;
  height: 4px;
  background-color: $color-neutral--70;
  margin: 10px 0 30px 0;
}
.footer-nav-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 600;
  color: $color-white;
  font-size: 16px;
}
.footer-nav-list li {
  margin-bottom: 3px;
  a {
    display: block;
    line-height: 28px;
  }
}
.footer-emphasized {
  font-weight: 700;
}
.footer-subtitle {
  padding-top: 10px;
}

.blog-layout {
  display: flex;
}

a.load-document {
  text-decoration: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-flex;
  color: $color-neutral;
  transition: .25s;
}

.sidebar-list {
  max-width: 25%;
  background-color: $light-background;
  color: $color-neutral;

  .document {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid $light-border;
    .published {
      color: $color-neutral--50;
    }
    h2 {
      margin: 0;
      color: $color-green;
    }
    &:not(.active) {
      border-left: 1px solid $white-border;
    }
    &.active {
      background-color: $color-white;
      color: $color-neutral;
    }
    &:hover:not(.active) {
      background-color: $light-background;
    }
  }
}

.post {
  max-width: 800px;
  padding-bottom: 80px;
  img { max-width: 100% }
}

td, th {
  padding: 10px;
  border: 1px solid black;
}
