@mixin heading($size) {
  font-size: $size;
  line-height: $size + 0.5rem;
}
.hd-xl, h1 {
  @include heading(4rem);
}
.hd-l, h2 {
  @include heading(2.5rem);
}
.hd-m, h3 {
  @include heading(2.25rem);
}
.hd-s, h4 {
  @include heading(2rem);
}
.hd-xs, h5 {
  @include heading(1.75rem);
}
.hd-xxs, h6 {
  @include heading(1.5rem);
}

.header-info,
.jumbotron-info {
  background-repeat: no-repeat;
  background-color: $color-white;
  background-position: 120% -10px;
  padding-bottom: 10px;
}

.header-info {
  padding-top: 10px;
  h1 {
    max-width: 900px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  background-color: $white-background;
  border-bottom: 1px solid $white-border;
}

.header-nav-link {
  color: $header-link;
  &.active {
    color: $color-green;
  }
  &:hover, &:focus {
    color: $color-neutral--80;
  }
}

.header-logo {
  display: inline-block;
  font-weight: 600;
  float: left;
  font-size: 38px;
  background-image: url('/static/img/dat-data-blank.png');
  background-size: 35px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position: 0 8px;
  margin-top: 2px;
  color: $header-link;
  overflow: hidden;
  max-width: 48px;
  &:hover, &:focus {
    color: $color-neutral--80;
    text-decoration: none;
  }
  @media screen and (min-width: 400px) {
    max-width: 300px;
  }
}

.profile {
  float: right;
  margin-top: 15px;
}

.header-nav {
  height: $header-height;
  opacity: 0.9;
  font-weight: 700;
  color: $color-neutral;
  font-size: 18px;
}

.header-nav-links {
  float: right;
}

.header-nav-list {
  line-height: $header-height;
  margin: 0;
  padding-left: 0;
  display: inline-block;
  list-style: none;
  li:not(:last-child) {
    margin-right: 15px;
    @media screen and (min-width: 650px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 1024px) {
      margin-right: 45px;
    }
  }
  li {
    display: inline-block;
    padding-left: 0;
  }
}
