/* Colors */

$button-bg: $color-green;
$buttong-bg-hover: $color-green--hover;

$white-background: $color-white;
$white-border: $color-neutral--04;

$light-background: $color-neutral--04;
$light-border: $color-neutral--20;

$dark-text: $color-neutral--60;
$dark-background: $color-neutral;

$header-link: $color-neutral;


/* Containers */

$side-margin: 0;
$header-height: 60px;

// Transitions

$transition-duration: .05s;
$transition-timing-function: ease-out;
